
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">Contact#</th>
      <th colspan="2" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <th scope="row">{{ user._id }}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.contact }}</td>
      <td><button type="button" class="btn btn-danger" (click)="delete(user._id)">Delete</button></td>
      <td><button type="button" class="btn btn-success" (click)="update(user)">Update</button></td>
    </tr>
  </tbody>
</table>